span.am-stepper-handler {
  touch-action: none
}

.dashBoard-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.bottom-input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .circle {
    background: greenyellow;
    flex: 0 0 40px;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    text-align: center;
  }
  .message {
    margin-right: 10px;
  }
  &.reverse {
    flex-direction: row-reverse;
    .message {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

.goods-list {
  margin-top: 45px;
  margin-bottom: 100px;
}

.buy-warpper {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 50px;
  height: 50px;
  z-index: 100;
  .price {
    flex: 1;
    background: rgb(83, 78, 78);
    color: #fff;
    line-height: 50px;
    padding-left: 15px;
  }
  .buy-button,
  .no-buy-button {
    width: 130px;
    text-align: center;
    line-height: 50px;
    color: #fff;
  }
  .buy-button {
    background: rgb(26, 236, 131);
  }

  .no-buy-button {
    background: rgb(93, 103, 114);
    color: darkgrey;
  }

}